# @package _global_

multivar:
  ssh:
    var_path: /Odyssey/private/t22picar/data/ssh_L4/SSH_L4_CMEMS_2010-01-01-2024-01-01.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: adt
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  ugos:
    var_path: /Odyssey/private/t22picar/data/ssh_L4/SSH_L4_CMEMS_2010-01-01-2024-01-01.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: ugos
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  vgos:
    var_path: /Odyssey/private/t22picar/data/ssh_L4/SSH_L4_CMEMS_2010-01-01-2024-01-01.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: vgos
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  u10:
    var_path: /Odyssey/private/t22picar/data/era5/era5_2010-01-01_2023-01-01_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: u10
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  v10:
    var_path: /Odyssey/private/t22picar/data/era5/era5_2010-01-01_2023-01-01_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: v10
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  u_drifter:
    var_path: /Odyssey/private/t22picar/data/drifters/daily_uv/drifters_uv_aoml_15m_8th_2010_2023.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: u_drifter
    input_arch: no_input
    output_arch: full_output
    broadcast_time: False
    #fill_nan: 0
  v_drifter:
    var_path: /Odyssey/private/t22picar/data/drifters/daily_uv/drifters_uv_aoml_15m_8th_2010_2023.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: v_drifter
    input_arch: no_input
    output_arch: full_output
    broadcast_time: False
    #fill_nan: 0
  latitude_var:
    var_path: /Odyssey/private/t22picar/data/ssh_L4/SSH_L4_CMEMS_2010-01-01-2024-01-01.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: latitude
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: True
  bathy:
    var_path: /Odyssey/private/t22picar/data/bathy/bathymetry_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: deptho
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: True

multivar_selector:
  _target_: contrib.multivar.multivar_utils.MultivarBatchSelector

domain:
  train:
    lat:
      _target_: builtins.slice
      _args_:
      - -70
      - 70
    lon:
      _target_: builtins.slice
      _args_:
      - -180
      - 180
  test:
    lat:
      _target_: builtins.slice
      _args_:
      - -70
      - 70
    lon:
      _target_: builtins.slice
      _args_:
      - -180
      - 180

trainer:
  _target_: pytorch_lightning.Trainer
  inference_mode: False
  gradient_clip_val: 0.5
  accelerator: gpu
  devices: 1
  logger:
    _target_: pytorch_lightning.loggers.CSVLogger
    save_dir: ${hydra:runtime.output_dir}
    name: ${hydra:runtime.choices.xp}
    version: ''
  max_epochs: 150
  limit_train_batches: 102
  callbacks:
    - _target_: src.versioning_cb.VersioningCallback
    - _target_: pytorch_lightning.callbacks.LearningRateMonitor
    - _target_: pytorch_lightning.callbacks.ModelCheckpoint
      monitor: val_total_mse
      save_top_k: 3
      filename: '{val_total_mse:.5f}-{epoch:03d}'

datamodule:
  _target_: contrib.multivar.multivar_data.MultivarDataModule
  multivar_da: 
    _target_: contrib.data_loading.data.open_multivar_datasets
    vars_info: ${multivar}
    domain: ${domain.train}
    full_time_domain: ${datamodule.domains}
  domains:
    train:
      time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      #time: {_target_: builtins.slice,  _args_: ['2014-01-01', '2017-12-31']}
      #time: {_target_: builtins.slice, _args_: ['2011-01-01', '2011-02-01']}
    val: 
      time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      #time: {_target_: builtins.slice,  _args_: ['2018-01-01', '2018-12-31']}
      #time: {_target_: builtins.slice, _args_: ['2011-02-01', '2011-03-01']}
    test: 
      time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      #time: {_target_: builtins.slice,  _args_: ['2018-01-01', '2018-01-01']}
      #time: {_target_: builtins.slice,  _args_: ['2011-03-01', '2011-03-01']}
  xrds_kw:
    patch_dims: { time: 11, lat: 1120, lon: 2880}
    strides: { time: 1, lat: 1112, lon: 2872}
    domain_limits: ${domain.train}
  dl_kw: {batch_size: 1, num_workers: 4}
  norm_stats: [[3.64154816e-01, 1.56312808e-02, 8.94858618e-04, 1.78596571e-01,
       1.06735833e-01, 4.24773842e-02, 8.27733241e-03, 0.00000000e+00,
       3.90599487e+03],[1.41748443e-01, 8.05465505e-02, 7.19935223e-02, 1.35229003e+00,
       1.05719447e+00, 3.36988032e-01, 2.74780422e-01, 5.40038300e+00,
       4.11532013e+02]]

model:
  _target_: contrib.multivar.multivar_models_unet_mae_rec.MultivarUNet_mae
  multivar_selector: ${multivar_selector}
  persist_rw: False
  opt_fn:
    _target_: contrib.multivar.multivar_models_unet.cosanneal_lr_adam_unet
    _partial_: true
    lr: 1e-3
    T_max: ${trainer.max_epochs}
    #weight_decay: 0
  rec_weight:
      _target_: contrib.multivar.multivar_utils.get_multivar_mapping_wei
      patch_dims: ${datamodule.xrds_kw.patch_dims}
      crop: {time: 0, lat: 4, lon: 4}
      dims_out:
        _target_: contrib.multivar.multivar_utils.get_multivar_prior_dims_out
        multivar_dict: ${multivar}
        channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}
      offset: 1


  solver:
    _target_: contrib.multivar.multivar_models_unet.UNet #MultivarGradSolverZero
    n_channels: 
      _target_: contrib.multivar.multivar_models_unet.get_multivar_only_prior_dims_in
      multivar_dict: ${multivar}
      channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}
    n_classes: 
      _target_: contrib.multivar.multivar_utils.get_multivar_prior_dims_out
      multivar_dict: ${multivar}
      channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}

  pre_metric_fn:
        _target_: xarray.Dataset.sel
        _partial_: True
        time: {_target_: builtins.slice, _args_: ["2019-01-01", "2019-12-31"]}
        lat: ${domain.test.lat}
        lon: ${domain.test.lon}

entrypoints:
  - _target_: pytorch_lightning.seed_everything
    seed: 333
  - _target_: src.train.base_training
    trainer: ${trainer}
    lit_mod: ${model}
    dm: ${datamodule}
    ckpt: /Odyssey/private/t22picar/multivar_drifter/outputs/saved/unet_uv_drifters_aoml_15m_10y_11d_bathy_no_sst_mae_8th_2014/unet_uv_drifters_aoml_15m_10y_11d_bathy_no_sst_mae_8th_2014/checkpoints/val_total_mse=0.18657-epoch=059.ckpt
    only_rec: True

defaults:
  - _self_

