# @package _global_

multivar:
  ssh:
    var_path: /Odyssey/public/NeurOST/NeurOST_2010-01-01_2020-01-31_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: adt
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  ugos:
    var_path: /Odyssey/public/NeurOST/NeurOST_2010-01-01_2020-01-31_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: ugos
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  vgos:
    var_path: /Odyssey/public/NeurOST/NeurOST_2010-01-01_2020-01-31_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: vgos
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  u10:
    var_path: /Odyssey/private/t22picar/data/era5/era5_2010-01-01_2023-01-01_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: u10
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  v10:
    var_path: /Odyssey/private/t22picar/data/era5/era5_2010-01-01_2023-01-01_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: v10
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: False
  u_drifter:
    var_path: /Odyssey/private/t22picar/data/drifters/daily_uv/drifters_uv_aoml_15m_8th_2010_2023.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: u_drifter
    input_arch: no_input
    output_arch: full_output
    broadcast_time: False
    fill_nan: 0
  v_drifter:
    var_path: /Odyssey/private/t22picar/data/drifters/daily_uv/drifters_uv_aoml_15m_8th_2010_2023.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: v_drifter
    input_arch: no_input
    output_arch: full_output
    broadcast_time: False
    fill_nan: 0
  latitude_var:
    var_path: /Odyssey/private/t22picar/data/ssh_L4/SSH_L4_CMEMS_2010-01-01-2024-01-01.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: latitude
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: True
  bathy:
    var_path: /Odyssey/private/t22picar/data/bathy/bathymetry_8th.nc
    #mask_path: /Odyssey/public/glorys/obs_masks/global_obs_6sats_masks_2022.pickle
    var_name: deptho
    input_arch: prior_input
    output_arch: no_output
    broadcast_time: True

multivar_selector:
  _target_: contrib.multivar.multivar_utils.MultivarBatchSelector

domain:
  train:
    lat:
      _target_: builtins.slice
      _args_:
      - -70
      - 70
    lon:
      _target_: builtins.slice
      _args_:
      - -180
      - 180
  test:
    lat:
      _target_: builtins.slice
      _args_:
      - -70
      - 70
    lon:
      _target_: builtins.slice
      _args_:
      - -180
      - 180

trainer:
  _target_: pytorch_lightning.Trainer
  inference_mode: False
  gradient_clip_val: 0.5
  accelerator: gpu
  devices: 1
  logger:
    _target_: pytorch_lightning.loggers.CSVLogger
    save_dir: ${hydra:runtime.output_dir}
    name: ${hydra:runtime.choices.xp}
    version: ''
  max_epochs: 100
  limit_train_batches: 102
  callbacks:
    - _target_: src.versioning_cb.VersioningCallback
    - _target_: pytorch_lightning.callbacks.LearningRateMonitor
    - _target_: pytorch_lightning.callbacks.ModelCheckpoint
      monitor: val_total_mse
      save_top_k: 3
      filename: '{val_total_mse:.5f}-{epoch:03d}'

datamodule:
  _target_: contrib.multivar.multivar_data_dask.MultivarDataModule
  multivar_da: 
    _target_: contrib.data_loading.data_chunks.open_multivar_datasets
    vars_info: ${multivar}
    domain: ${domain.train}
    full_time_domain: ${datamodule.domains}
  domains:
    train:
      #time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      time: {_target_: builtins.slice,  _args_: ['2010-01-01', '2017-12-31']}
      #time: {_target_: builtins.slice, _args_: ['2011-01-01', '2011-02-01']}
    val: 
      #time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      time: {_target_: builtins.slice,  _args_: ['2018-01-01', '2018-12-31']}
      #time: {_target_: builtins.slice, _args_: ['2011-02-01', '2011-03-01']}
    test: 
      time: {_target_: builtins.slice,  _args_: ['2018-12-20', '2020-01-10']}
      #time: {_target_: builtins.slice,  _args_: ['2018-01-01', '2018-01-01']}
      #time: {_target_: builtins.slice,  _args_: ['2011-03-01', '2011-03-01']}
  xrds_kw:
    patch_dims: { time: 11, lat: 1120, lon: 2880}
    strides: { time: 1, lat: 1112, lon: 2872}
    domain_limits: ${domain.train}
  dl_kw: {batch_size: 1, num_workers: 8}
  #norm_stats: [[ 3.55150521e-01,  1.43728936e-02,  8.10611760e-04,  1.20821863e-01,
  #      1.11329123e-01,  3.19502316e-02,  1.02517623e-02, -4.78971106e-06,
  #      3.90615454e+03],[7.20556021e-01, 1.69248790e-01, 1.34234980e-01, 5.40916300e+00,
  #     4.21112871e+00, 3.44734073e-01, 2.83660024e-01, 4.04145088e+01,
  #     1.59756116e+03]]

model:
  _target_: contrib.multivar.multivar_models_unet_mae_rec.MultivarUNet_mae
  multivar_selector: ${multivar_selector}
  persist_rw: False
  opt_fn:
    _target_: contrib.multivar.multivar_models_unet.cosanneal_lr_adam_unet
    _partial_: true
    lr: 1e-3
    T_max: ${trainer.max_epochs}
    #weight_decay: 0
  rec_weight:
      _target_: contrib.multivar.multivar_utils.get_multivar_mapping_wei
      patch_dims: ${datamodule.xrds_kw.patch_dims}
      crop: {time: 0, lat: 4, lon: 4}
      dims_out:
        _target_: contrib.multivar.multivar_utils.get_multivar_prior_dims_out
        multivar_dict: ${multivar}
        channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}
      offset: 1


  solver:
    _target_: contrib.multivar.multivar_models_unet.UNet #MultivarGradSolverZero
    n_channels: 
      _target_: contrib.multivar.multivar_models_unet.get_multivar_only_prior_dims_in
      multivar_dict: ${multivar}
      channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}
    n_classes: 
      _target_: contrib.multivar.multivar_utils.get_multivar_prior_dims_out
      multivar_dict: ${multivar}
      channels_per_dim: ${datamodule.xrds_kw.patch_dims.time}

  pre_metric_fn:
        _target_: xarray.Dataset.sel
        _partial_: True
        time: {_target_: builtins.slice, _args_: ["2019-01-01", "2019-12-31"]}
        lat: ${domain.test.lat}
        lon: ${domain.test.lon}

entrypoints:
  - _target_: pytorch_lightning.seed_everything
    seed: 333
  - _target_: src.train.base_training
    trainer: ${trainer}
    lit_mod: ${model}
    dm: ${datamodule}
    #ckpt: /Odyssey/private/t22picar/multivar_drifter/outputs/2025-10-23/09-27-30/unet_uv_drifters_aoml_15m_10y_11d_bathy_no_sst_mae_8th_2010_neurost_no_norm/checkpoints/val_total_mse=345.81019-epoch=088.ckpt
    #ckpt: /Odyssey/private/t22picar/multivar_drifter/outputs/2025-10-17/10-56-51/unet_uv_drifters_aoml_15m_10y_11d_bathy_no_sst_mae_8th_2010_neurost/checkpoints/val_total_mse=347.22966-epoch=075.ckpt
    #only_rec: True

defaults:
  - _self_

