# @package _global_

xp_name: unet_uv_aoml_15m_10y_11d_bathy_no_sst_mae_neurost #ssh_duacs_sst_w_to_u_v_11d_15m_psi #drifters_ssh_duacs_sst_w_to_u_v_11d_15m # name of your experience (will create folders using this name)
data_name: 2019_glob

paths:
  ose_data_path: /Odyssey/private/t22picar/multivar_drifter/outputs/saved/${xp_name}
  rec_path: /Odyssey/private/t22picar/multivar_drifter/outputs/saved/${xp_name} # your reconstruction will be stored in <rec_path>/<xp_name>/<data_name>/
  metrics_path: /Odyssey/private/t22picar/multivar_drifter/metrics/

  model_config_path: /Odyssey/private/t22picar/multivar_drifter/config/xp/${xp_name}.yaml
  model_ckpt_path: /Odyssey/private/t22picar/multivar_drifter/outputs/saved/unet_uv_aoml_15m_10y_11d_bathy_no_sst_mae_neurost/unet_uv_aoml_15m_10y_11d_bathy_no_sst_mae_neurost/checkpoints/val_total_mse=0.10336-epoch=076.ckpt

specs:
  pixels_per_degree: 4

  # time on which model will be tested
  min_time: 2018-12-20
  max_time: 2020-01-10

  min_time_std: 2010-01-01
  max_time_std: 2017-12-31

  time_day_crop: 0

  min_lon: -180
  max_lon: 180
  min_lat: -70
  max_lat: 70

  #IMPORTANT: keep "{}" in place of satellite name in copernicus_dataset_id
  copernicus_dataset_id: cmems_obs-sl_glo_phy-ssh_nrt_{}-l3-duacs_PT1S

  input_satellites: ['al', 'c2n', 'h2b', 'j3n', 's3a', 's3b']
  ref_satellites: ['s6a-hr']

metrics_spatial_domains:
  GLOBE:
    lat:
      _target_: builtins.slice
      _args_:
      - -80
      - 90
    lon:
      _target_: builtins.slice
      _args_:
      - -180
      - 180
  GULFSTREAM:
    lat:
      _target_: builtins.slice
      _args_:
      - 32
      - 42
    lon:
      _target_: builtins.slice
      _args_:
      - -65
      - -55
  GROENLAND:
    lat:
      _target_: builtins.slice
      _args_:
      - 48
      - 58
    lon:
      _target_: builtins.slice
      _args_:
      - -35
      - -25
  MADERE:
    lat:
      _target_: builtins.slice
      _args_:
      - 32
      - 42
    lon:
      _target_: builtins.slice
      _args_:
      - -23
      - -13

options:
  # IMPORTANT: For reconstruction only, use skip>True for 'data' and 'metrics'
  skip:
    data: True
    rec: False
    metrics: True

  # IMPORTANT: will replace your files if True
  overwrite:
    data: False
    rec: True
    metrics: True

  overrides:
    keep_original_data: True # This will prevent OSE data to be used, using instead the original data used for training
    mapping: True
    multivar: True # For multivar models
    metrics_dim: 0 # Dimension on which to perform the metrics

entrypoints:
  - _target_: contrib.ose_pipeline.ose_full_pipeline.execute_full_pipeline
    pixels_per_degree: ${specs.pixels_per_degree}
    min_time: ${specs.min_time}
    max_time: ${specs.max_time}
    min_time_std: ${specs.min_time_std}
    max_time_std: ${specs.max_time_std}
    min_lon: ${specs.min_lon}
    max_lon: ${specs.max_lon}
    min_lat: ${specs.min_lat}
    max_lat: ${specs.max_lat}
    metrics_spatial_domains: ${metrics_spatial_domains}
    time_day_crop: ${specs.time_day_crop}
    copernicus_dataset_id: ${specs.copernicus_dataset_id}
    input_satellites: ${specs.input_satellites}
    ref_satellites: ${specs.ref_satellites}
    ose_data_path: ${paths.ose_data_path}
    rec_path: ${paths.rec_path}
    metrics_path: ${paths.metrics_path}
    model_config_path: ${paths.model_config_path}
    model_ckpt_path: ${paths.model_ckpt_path}
    xp_name: ${xp_name}
    data_name: ${data_name}
    skip: ${options.skip}
    overwrite: ${options.overwrite}
    overrides: ${options.overrides}

defaults:
  - _self_

